[project]
name = "fastapi-blog"
version = "0.1.0"
description = "Full-featured web application using the FastAPI framework in Python."
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.128.0",
]
